---
import { Picture } from "astro:assets"
import AboutImage from "../assets/about.webp"
import Layout from "../layouts/Layout.astro"
---

<Layout title="k.l.b designs - about">
	<div class="sm:flex sm:flex-row sm:pr-56 sm:gap-x-12 p-4 sm:pt-8 sm:pl-16">
		<div>
			<h1 class="text-2xl font-bold sm:pb-4">Kirsty Baird</h1>
			<h3 class="text-xl font-bold py-4">About</h3>
			<p>
				Recent graduate from <a href="https://www.dundee.ac.uk/djcad">Duncan of Jordanstone</a> (Dundee University)
				in Textile design. I spent 4 years specialising in using domestic knitting machine and Dubied machines. I
				was able to create many samples and finished garments during my time, experimenting with different yarns
				such as lambswool, mohair, synthetic yarns. I spent alot of my last year at university using the linking
				machine to put my garments together and creating channels for my garments to be able to be altered in size.
			</p>
		</div>
		<div class="pt-4 sm:pt-0">
			<Picture src={AboutImage} height="2500" width="2500" alt="An image of the artist, Kirsty Baird" />
		</div>
	</div>
</Layout>
