---
import Sidebar from "../components/Sidebar.astro"
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"

const images = import.meta.glob("../assets/*.jpg")
---

<Layout title="klbdesigns">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<script type="module">
		// @ts-ignore - can't resolve types
		import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs"

		new Swiper(".swiper", {
			// Optional parameters
			direction: "horizontal",
			loop: true,
			navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
			},
		})
	</script>
	<main>
		<Sidebar />
		<div class="content">
			<div class="swiper">
				<div class="swiper-wrapper">
					{
						Object.entries(images).map(([key]) => (
							<div class="swiper-slide">
								<Image src={images[key]!()} alt="" />
							</div>
						))
					}
				</div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</main>

	<style>
		body {
			margin: 0;
		}

		main {
			height: 100vh;
			width: 100vw;
			display: grid;
			grid-template-columns: 1fr 6.5fr;
			grid-template-rows: 1fr;
		}

		.content {
			grid-row: 1;
			overflow: hidden;
		}

		.swiper-slide img {
			max-height: 500px;
			max-width: 500px;
		}
	</style>
</Layout>
