---
import Sidebar from "../components/Sidebar.astro"
import Layout from "../layouts/Layout.astro"

const images = await Astro.glob("../assets/*.jpg")
---

<Layout title="klbdesigns">
	<main class="grid grid-rows-1 h-screen w-screen">
		<Sidebar />
		<div class="row-span-full">
			<div id="default-carousel" class="relative w-full" data-carousel="slide">
				<div class="relative h-56 overflow-hidden rounded-lg md:h-96">
					<div class="hidden duration-700 ease-in-out" data-carousel-item="active">
						<img
							src={images[0].default.src}
							class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
							alt="..."
						/>
					</div>
					<div class="hidden duration-700 ease-in-out" data-carousel-item>
						<img
							src={images[1].default.src}
							class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
							alt="..."
						/>
					</div>
				</div>
				<!-- {
					Object.entries(images).map(([key], index) => (
						<div
							class="relative h-56 overflow-hidden rounded-lg md:h-96"
							data-carousel-item={index === 0 ? "active" : undefined}
						>
							<Image
								class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
								src={images[key]!()}
								alt=""
							/>
						</div>
					))
				} -->
			</div>
		</div>
	</main>

	<style>
		body {
			margin: 0;
		}

		main {
			grid-template-columns: 1fr 6.5fr;
		}
	</style>
</Layout>
