---
import Sidebar from "../components/Sidebar.astro"
import Layout from "../layouts/Layout.astro"

const images = await Astro.glob("../assets/*.jpg")
---

<Layout title="klbdesigns">
	<main class="grid grid-rows-1 h-screen w-screen">
		<Sidebar />
		<div class="row-span-full">
			<div
				id="default-carousel"
				class="flex flex-col items-center justify-center relative w-full h-full"
				data-carousel="static"
			>
				<div class="relative overflow-hidden h-3/4 w-3/4">
					{
						images.map((image) => (
							<div class="hidden duration-1000 ease-in-out" data-carousel-item>
								<img
									class="absolute block h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
									src={image.default.src}
									alt=""
								/>
							</div>
						))
					}
				</div>

				<div class="flex flex-row items-center justify-center">
					<button type="button" class="flex items-center justify-center p-4" data-carousel-prev>
						<span class="inline-flex items-center justify-center w-10 h-10 rounded-full">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								data-slot="icon"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
							</svg>
							<!-- screen reader -->
							<span class="sr-only">Previous</span>
						</span>
					</button>

					<button type="button" class="flex items-center justify-center p-4" data-carousel-next>
						<span class="inline-flex items-center justify-center w-10 h-10 rounded-full">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								data-slot="icon"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
							</svg>
							<!-- screen reader -->
							<span class="sr-only">Next</span>
						</span>
					</button>
				</div>

				<div class="font-light">By Kirsty Baird</div>
			</div>
		</div>
	</main>

	<style>
		body {
			margin: 0;
		}

		main {
			grid-template-columns: 1fr 6.5fr;
		}
	</style>
</Layout>
