---
import Gallery from "../components/Gallery.astro"
import Sidebar from "../components/Sidebar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="klbdesigns">
	<main class="grid grid-rows-1 h-full max-w-full">
		<Sidebar />
		<Gallery filepath="../assets/christmas2023/*.jpg" />
	</main>
</Layout>
