---
import Carousel from "../components/Carousel.astro"
import Sidebar from "../components/Sidebar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="klbdesigns">
	<main class="grid grid-rows-1 h-screen w-screen">
		<Sidebar />
		<Carousel filepath="../assets/textiles/*.jpg" />
	</main>
</Layout>
