<nav class="navbar bg-main p-4 whitespace-nowrap row-span-full">
	<ul class="list-none">
		<li>
			<h1>
				<a class="nav-link no-underline text-4xl pt-2 text-white hover:text-blue-600" href="">k.l.b designs</a>
			</h1>
		</li>
		<li class="nav-link no-underline pt-3 text-white hover:text-blue-600"><a href="">collections</a></li>
		<li class="nav-link no-underline pt-3 text-white hover:text-blue-600"><a href="">about</a></li>
		<li class="nav-link no-underline pt-3 text-white hover:text-blue-600"><a href="">contact</a></li>
		<li class="nav-link no-underline pt-3 text-white hover:text-blue-600"><a href="">instagram</a></li>
	</ul>
</nav>
