<nav class="navbar">
	<h1 class="nav-link">k.l.b designs</h1>
	<ul>
		<li><a class="nav-link" href="">about</a></li>
		<li><a class="nav-link" href="">contact</a></li>
		<li><a class="nav-link" href="">instagram</a></li>
	</ul>
</nav>

<style>
	ul {
		list-style: none;
	}

	.nav-link {
		text-decoration: none;
		color: #fff;

		&:hover {
			color: #086172;
			text-decoration: none;
		}
	}

	.navbar {
		grid-row: 1;
		background-color: #5da399;
	}
</style>
