<nav class="navbar p-4 whitespace-nowrap row-span-full">
	<ul>
		<li><h1><a class="nav-link text-4xl pt-2 text-white" href="">k.l.b designs</a></h1></li>
		<li class="nav-link pt-3 text-white"><a href="">collections</a></li>
		<li class="nav-link pt-3 text-white"><a href="">about</a></li>
		<li class="nav-link pt-3 text-white"><a href="">contact</a></li>
		<li class="nav-link pt-3 text-white"><a href="">instagram</a></li>
	</ul>
</nav>

<style>
	ul {
		list-style: none;
	}

	.nav-link {
		text-decoration: none;

		&:hover {
			color: #086172;
			text-decoration: none;
		}
	}

	.navbar {
		background-color: #5da399;
	}
</style>
