name: Deploy Prod

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [publish-event]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
      CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
      - name: Install modules
        run: npm ci
      - name: Build application
        run: npm run build
      - uses: hashicorp/setup-terraform@main
      - name: Terraform init
        run: terraform init
        working-directory: deploy
      - name: Terraform fmt
        run: terraform fmt
        working-directory: deploy
      - name: Terraform validate
        run: terraform validate
        working-directory: deploy
      - name: Terraform apply
        run: terraform apply -auto-approve
        working-directory: deploy
